!!! Strict
%html
  %head
  %title Twirl
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = yield :head
  = csrf_meta_tags
  %body{style: 'background: url("/assets/debut_dark.png") repeat scroll 0% 0% transparent;'}

  %div{style: 'height:80px;'}
  %div{style: "height:960px;background:url('/assets/pool_table.png') repeat scroll 0% 0% transparent;"}
    = yield
